[Unit]
Description=background service for activity tracker

[Service]
ExecStart=/usr/sbin/activity-tracker-daemon

[Install]
WantedBy=multi-user.target


