[Unit]
Description=TimerApp logger service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=lukar
ExecStart=/usr/bin/logger

[Install]
WantedBy=multi-user.target
